In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix

In [2]:
df = pd.read_csv('/content/payment-fraud.csv')

In [3]:
df

,accountAgeDays,numItems,localTime,paymentMethod,paymentMethodAgeDays,label
0,29,1,4.745402,paypal,28.204861,0
1,725,1,4.742303,storecredit,0.000000,0
2,845,1,4.921318,creditcard,0.000000,0
3,503,1,4.886641,creditcard,0.000000,0
4,2000,1,5.040929,creditcard,0.000000,0
...,...,...,...,...,...,...
39216,986,1,4.836982,creditcard,0.000000,0
39217,1647,1,4.876771,creditcard,377.930556,0
39218,1591,1,4.742303,creditcard,0.000000,0
39219,237,1,4.921318,creditcard,236.082639,0
39220,272,1,5.040929,paypal,0.000694,0

In [23]:
df1=df.drop('paymentMethod',axis = 1)
df1

       accountAgeDays  numItems  localTime  paymentMethodAgeDays  label
0                  29         1   4.745402             28.204861      0
1                 725         1   4.742303              0.000000      0
2                 845         1   4.921318              0.000000      0
3                 503         1   4.886641              0.000000      0
4                2000         1   5.040929              0.000000      0
...               ...       ...        ...                   ...    ...
39216             986         1   4.836982              0.000000      0
39217            1647         1   4.876771            377.930556      0
39218            1591         1   4.742303              0.000000      0
39219             237         1   4.921318            236.082639      0
39220             272         1   5.040929              0.000694      0

[39221 rows x 5 columns]

In [24]:
df1.shape

(39221, 5)

In [25]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39221 entries, 0 to 39220
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   accountAgeDays        39221 non-null  int64
 1   numItems              39221 non-null  int64
 2   localTime             39221 non-null  float64
 3   paymentMethodAgeDays  39221 non-null  float64
 4   label                 39221 non-null  int64
dtypes: float64(2), int64(3)
memory usage: 1.5 MB

In [26]:
df1.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
accountAgeDays,39221.0,857.563984,804.788212,1.000000,72.000000,603.000000,1804.000000,2000.000000
numItems,39221.0,1.084751,0.566899,1.000000,1.000000,1.000000,1.000000,29.000000
localTime,39221.0,4.748232,0.389360,0.421214,4.742303,4.886641,4.962055,5.040929
paymentMethodAgeDays,39221.0,122.641326,283.569177,0.000000,0.000000,0.012500,87.510417,1999.580556
label,39221.0,0.014278,0.118636,0.000000,0.000000,0.000000,0.000000,1.000000

In [27]:
df1.isnull().sum()

accountAgeDays          0
numItems                0
localTime               0
paymentMethodAgeDays    0
label                   0
dtype: int64

**SPLITTING THE DATA INTO TRAINING AND VALIDATION SET**

In [28]:
X_train, X_test, y_train, y_test = train_test_split(
    df1.drop('label', axis=1), df1['label'],
    test_size=0.33, random_state=17)

In [29]:
X_train.shape

(26278, 4)

In [30]:
X_test.shape

(12943, 4)

**MAKING MODEL USING LOGISTIC REGRESSION**

In [33]:
model = LogisticRegression().fit(X_train, y_train)
y_pred = model.predict(X_test)
from sklearn.metrics import accuracy_score
acc_score = accuracy_score(y_test, y_pred)
print("Accuracy of model is:",acc_score*100,'\n')
#print(accuracy_score(y_pred, y_test))

Accuracy of model is: 100.0

**EVALUATING USING CONFUSION MATRIX**

In [32]:
print(confusion_matrix(y_test, y_pred))

[[12753     0]
 [    0   190]]